<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sms_tcp">

    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:label="SMS TCP App"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        
        <service
            android:name=".TcpService"
            android:foregroundServiceType="connectedDevice|dataSync"
            android:exported="false"/>

        <receiver android:name=".SmsReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
